window {
    font-family: monospace;
    font-size: 14pt;
    color: #7FB3CB; /* text */
    background-color: rgba(29, 32, 33, 0.8);
}

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border: 2px solid #7FB3CB;
    border-radius: 10px;
    background-color: #1A1B26;
    margin: 5px;
}

button:hover {
    border: 2px solid #7FB3CB;
    background-color: #1A1B26;
    color: #7FB3CB;
}

#lock {
    background-image: image(url("./lock.png"));
}
#logout {
    background-image: image(url("./logout.png"));
}
#suspend {
    background-image: image(url("./sleep.png"));
}
#shutdown {
    background-image: image(url("./power.png"));
}
#reboot {
    background-image: image(url("./restart.png"));
}
#hibernate {
    background-image: image(url("./sleep.png"));
}